{% extends 'base.html' %}
{% block title %} Blood Donation {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="{{details.image.url}}" alt="" width="310px" height="270px">
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-tab">
                <div class="tab-pane">
                    <br>
                    <div class="row">
                        <div class="col-md-5">
                            <h3>Name:</h3>
                        </div>
                        <div class="col-md-6">
                            <h3>{{details.donor.get_full_name}}</h3>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-5">
                            <h3>Blood Group:</h3>
                        </div>
                        <div class="col-md-6">
                            <h3>{{details.blood_group}}</h3>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-5">
                            <h3>Gender:</h3>
                        </div>
                        <div class="col-md-6">
                            <h3>{{details.gender}}</h3>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-5">
                            <h3>Email:</h3>
                        </div>
                        <div class="col-md-6">
                            <h3>{{details.donor.email}}</h3>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-5">
                            <h3>Phone:</h3>
                        </div>
                        <div class="col-md-6">
                            <h3>{{details.phone}}</h3>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-5">
                            <h3>State:</h3>
                        </div>
                        <div class="col-md-6">
                            <h3>{{details.state}}</h3>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-5">
                            <h3>City:</h3>
                        </div>
                        <div class="col-md-6">
                            <h3>{{details.city}}</h3>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-5">
                            <h3>Address:</h3>
                        </div>
                        <div class="col-md-6">
                            <h3>{{details.address}}</h3>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-5">
                            <h3>Date of Birth:</h3>
                        </div>
                        <div class="col-md-6">
                            <h3>{{details.date_of_birth}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
{% endblock %}
